 

 body {
            margin: 0;
            overflow: hidden;
            font-family: Arial, sans-serif;
            background-color: #a9d0f5;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
  
  canvas {
    border: 1px solid #000;
  }
  
